.gradient-custom {
  /* fallback for old browsers */
  background: #cacaca;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(224, 200, 255), rgb(188, 213, 255));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(228, 201, 255), rgb(223, 231, 255))
}
